
<center>
<h2>Main Page</h2>

{{#if todos.length}}
<ul class="border">
  {{#each todos}}

  <li onclick="location.href='/{{_id}}'"; style="cursor:pointer;">
    <form action="/{{_id}}" method="POST">
      <label>
        <span class="completed">{{title}}</span>
        <button class="btn"><i class="fa fa-close"></i></button>
        <input type="hidden" value="{{_id}}" name="id">
      </label>
    </form>
  </li>
  {{/each}}
</ul>
{{else}}
<p>No Elements!</p>
{{/if}}
</center>