
<center>
<h2>Main Page</h2>

{{#if todos.length}}
<ul class="border">
  {{#each todos}}
  <li onclick="location.href='/{{_id}}'"; style="cursor:pointer;">
    <form action="/complete" method="POST">
      <label>
        {{#if completed}}
        <span class="completed">{{title}}</span>
        {{else}}
        <span>{{title}}</span>
        {{/if}}
        <input type="hidden" value="{{_id}}" name="id">
      </label>
    </form>
  </li>
  {{/each}}
</ul>
{{else}}
<p>No Elements!</p>
{{/if}}
</center>